@import "./Variables.scss";

.title {
  margin-top: 10rem;
  margin-bottom: 4rem;
  font-size: 5rem;
  color: $basic-text-color;
}

.el-message__content {
  font-family: Arial, Helvetica, sans-serif;
}

::selection {
  background: $accent-color;
  color: $secondary-text-color;
}
