@import "./Variables.scss";

.task-display {
  margin: 0 10rem;
}

.task-display .el-button:hover {
  border-color: $accent-color;
  color: $accent-color !important;
}

.task-category-name-holder {
  max-width: 60vw;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

li > .el-badge {
  width: 100%;
}

li .el-badge__content {
  font-weight: 800 !important;
  font-family: Arial, Helvetica, sans-serif;
}

li .floating-button {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 999;
}

li .floating-button > .el-button.is-disabled {
  cursor: default;
}

li .floating-button > .el-button,
li .floating-button > .el-button:focus,
li .floating-button > .el-button.is-disabled,
li .floating-button > .el-button.is-disabled:focus,
li .floating-button > .el-button.is-disabled:hover {
  background-color: transparent;
  border-width: 0;
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.3) !important;
}

li .floating-button > .el-button:hover,
li .floating-button > .el-button:active {
  color: #f56c6c !important;
}

li > .el-button {
  position: relative;
  width: 100%;
  font-family: $font-family;
  margin-top: 0px;
  margin-bottom: 30px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.7) !important;
  background-color: transparent !important;
  color: $basic-text-color !important;
  font-size: 2rem !important;
  font-weight: 900 !important;
  font-variant: small-caps !important;
}

.el-drawer__open .el-drawer.btt {
  border-top: 5px solid $accent-color;
}

.el-drawer__header > :first-child {
  font-size: 2rem !important;
  font-weight: 800;
  font-variant: small-caps;
  color: $secondary-text-color;
}

.single-task-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 10rem;
  border-bottom: 1px solid $secondary-text-color;
}

.single-task-holder .el-button,
.single-task-holder .el-button:focus {
  border-radius: 50%;
  background-color: transparent;
  border: 0;
  font-size: 1.5rem;
}

.single-task-holder .el-button:hover {
  background-color: transparent;
}

.single-task-holder .el-button:focus {
  color: $accent-color;
}

.single-task-holder .el-input {
  width: 100%;
  margin: 0 1rem;
}

.single-task-holder .el-input__inner {
  border: 0;
  font-family: $font-family;
  font-size: 1.6rem;
  font-weight: 800;
}

.single-task-holder .el-input__inner:hover {
  border: 1px solid $accent-color;
}

.single-task-holder .el-input__inner:focus {
  border: 2px solid $accent-color;
}

.single-task-holder .el-date-editor.el-input,
.el-date-editor.el-input__inner {
  width: 220px !important;
}

.single-task-holder .el-date-editor .el-input__inner,
.single-task-holder .el-date-picker .el-input__inner,
.single-task-holder .el-input__inner {
  color: $secondary-text-color !important;
  font-size: 1.5rem !important;
}

.single-task-holder .el-select .el-input {
  width: 150px;
  margin: 0 1rem;
}

.single-task-holder > span {
  font-weight: 100;
  font-size: 1.5rem;
  color: rgb(214, 96, 0);
  font-family: Georgia, "Times New Roman", Times, serif;
}

.item-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-wrapper div {
  width: auto;
  max-width: 100%;
}

.due-input-wrapper .el-input__inner,
.due-input-wrapper .el-date-editor .el-input__inner {
  color: #f56c6c !important;
}

.not-due-input-wrapper .el-input_inner,
.not-due-input-wrapper .el-date-editor .el-input__inner {
  color: $secondary-text-color !important;
}

.single-task-holder .el-select .el-input__inner,
.single-task-holder .el-select .el-input.is-focus .el-input__inner {
  color: $secondary-text-color !important;
}
