$colorList: #f2ff7a, #7affb6, #ff7a7a, #7ab8ff, #ff7aff, #f2ff7a;
$colorKey: random(length($colorList));

$accent-color: #00c468;

$basic-text-color: #fff;
$secondary-text-color: #2c2c2c;
$font-family: "ZenLoop", "Helvetica Neue", Helvetica, "PingFang SC",
  "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
