$accent-color: #7aff7a;
$basic-text-color: #fff;
$secondary-text-color: #2c2c2c;
$font-family: "ZenLoop", "Helvetica Neue", Helvetica, "PingFang SC",
  "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
